/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300&family=Work+Sans:wght@300;400;500;600;700&display=swap');

body {
    background-color: white;
    border: 1;
}

/* SIDEBAR */
.Sidebar {
    width: 200px;
    height: 100vh;
    border: 2px solid #fff;
    position: fixed;
    left:0;
    top:0;
    font-family: 'Work Sans', sans-serif;
}

.sidebar-logo {
    display: flex;
    margin: 12px;
    margin-top: 20px;
    border: 1px solid #fff;
}

.sidebar-logo-img {
    position: relative;
    width: 33.68px;
    height: 35.18px;
    left: 20px;
}

.sidebar-logo-text {
    position: relative;
    font-family: 'Ageo Personal Use SemiBold';
    font-size: 24px;
    margin: 0;
    top: 7px;
    left: 26px;
}

.side-links {
    border: 1px solid #fff;
    margin: 12px;
    margin-top: 5vh;
}

.side-link {
    display: flex;
    border: 1px solid #fff;
    margin-top: 6px;
    margin-bottom: 8px;
    height: 50px;
}

.side-link:hover {
    background-color: #DDFF55;
}

.side-link:focus {
    background-color: #DDFF55;
}
.side-link-img {
    width: 23px;
    height: 23px;
    margin: auto;
    margin-left: 8px;
    margin-right: 6px;
}

.side-link-text {
    text-decoration: none;
    color: #000;
}

a {
    text-decoration: none;
}

.side-login {
    position: fixed;
    left: 20px;
    bottom: 8px;
}

.side-user-button {
    background-color: #000;
    color: #fff;
    font-weight: 500;
    width: 160px;
    padding: 18px;
    font-family: poppins, sans-serif;
    border-radius: 4px;

}

.side-user {
    display: flex;
    border-top: 1px solid #000;
    width: 160px;
}

.side-user-img {
    width: 36px;
    height: 36px;
    margin: auto;
    margin-left: 8px;
    margin-right: 8px;
}

/* TRANSACTIONS */

.Transactions {
    margin-left: 204px;
    border: 1px solid #fff;
    display: grid;
    grid-template-columns: 1fr 380px;
    font-family: 'Poppins', sans-serif;
}

.Main {
    border: #fff 1px solid;
    margin-right: 8px;
}

.main-h1 {
    font-size: 32px;
    margin-left: 32px;
}

.main-balance-h1 {
    margin-left: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #606060;
}

.main-balance-output {
    margin: 2px;
    font-weight: 600;
    font-size: 23px;
    color: #000;
}

.main-stats {
    border: 1px solid #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
}

.main-stat-child {
    border: 1px solid #fff;
    padding: 16px;
    padding-left: 1.6vw;
}

.stat-child-0 {
    margin: 2px;
    margin-top: 1px;
    font-weight: 500;
}

.stat-child-1 {
    margin: 2px;
    font-weight: 500;
    font-size: 12px;
    color: #606060;
}

.stat-child-2 {
    margin: 2px;
    font-weight: 600;
    font-size: 18px;
}

.main-trs-heads {
    margin-top: 40px;
    border: 1px solid #fff;
    display: grid;
    grid-template-columns: 1.1fr 4fr 1.5fr 1.5fr;
    border-bottom: 1px solid #292929;
}

.trs-head {
    font-weight: 700;
    color: #696969;
    font-size: 14px;
}

.block-col {
    margin-left: 20px;
}

.trs-row {
    margin-top: 12px;
    border: 1px solid #fff;
    display: grid;
    grid-template-columns: 1.1fr 4fr 1.5fr 1.5fr;
}

.trs-el {
    font-weight: 500;
    color: #000;
    font-size: 14px;
}

.Funds {
    width: 360px;
    border: #fff 1px solid;
    background-color: #F3F4EF;
    font-family: 'Work Sans', sans-serif;
    height: 98vh;
    position: fixed;
    right: 8px;
}

.fund-card {
    width: 320px;
    margin: 0 auto;
    margin-top: 0px;
    border-bottom: #000 1px solid;
    padding: 8px;
}

.home-transaction-h1 {
    font-size: 24px;
}

.fund-label {
    font-weight: 600;
}

.fund-input {
    margin: 0px;
    padding: 8px;
    width: 300px;
    height: 16px;
    margin: 8px 0px;
    font-family: 'Work Sans', sans-serif;
    border-radius: 2px;
}

.fund-button {
    margin: 0px;
    width: 320px;
    height: 36px;
    margin: 8px 0px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #000;
    margin-bottom: 20px;
    border-radius: 2px;
    margin-top: 2px;
}

.fund-button:hover {
    background-color: #DDFF55;
    color: #000;
}

/* REQUEST LOGIN */

.Request-login {
    font-family: 'Work Sans', sans-serif;
    width: 100%;
}

.req-login-h1 {
    margin-top: 200px;
    text-align: center;
}

.lds-pos {
    margin: 0 auto;
}

.lds-ring {
    margin: auto;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #000000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000000 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*  LOANS */

  .Loan-page {
    margin-left: 220px;
    margin-right: 380px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #fff;
  }

  .loans-heading {
    display: flex;
    justify-content: space-between;
    border: 1px solid #fff;
  }

  .block-NUM {
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }

  .block-info {
    border: 1px solid #fff;
  }

  .refresh-logo {
    width: 18px;
    height: 18px;
    margin: 16px;
    transition: transform .5s
  }

  .loan-trs-heads {
    margin-top: 20px;
    border: 1px solid #fff;
    display: grid;
    grid-template-columns: 1.3fr 1.3fr 1.3fr 1.3fr 1.8fr;
    border-bottom: 1px solid #000;
  }

  .loan-trs-heads-minter {
    margin-top: 20px;
    border: 1px solid #fff;
    display: grid;
    grid-template-columns: 3.4fr 1.3fr 1.3fr 1.3fr 1.1fr 1.8fr;
    border-bottom: 1px solid #000;
  }

  .loan-row {
    border: 1px solid #fff;
    display: grid;
    grid-template-columns: 1.3fr 1.3fr 1.3fr 1.3fr 1.8fr;
    margin-bottom: 4px;
    margin-top: 4px;
  }

  .loan-row-mint {
    border: 1px solid #fff;
    display: grid;
    grid-template-columns: 3.4fr 1.3fr 1.3fr 1.3fr 1.1fr 1.8fr;
    margin-bottom: 4px;
    margin-top: 4px;
  }


.loan-el {
    font-weight: 500;
    color: #000;
    font-size: 14px;
}

.loan-el-button {
    font-weight: 700;
    background-color: #F3F4EF;
    color: #000;
    font-size: 14px;
    border: 0px;
}

.loan-el-button:hover {
    background-color: #DDFF55;
}

  /* LOAN FORM */

  .Loan-form {
    width: 340px;
    border: #fff 1px solid;
    background-color: #F3F4EF;
    font-family: 'Work Sans', sans-serif;
    height: 98vh;
    position: fixed;
    top: 8px;
    right: 8px;
    padding-left: 20px;
}

input::file-selector-button {
    font-family: 'Work Sans', sans-serif;
    color: white;
    background-color: black;
    width: 150px;
    height: 36px;
    border-radius: 4px;
}

.input-file {
    margin-top: 24px;
    font-family: 'Work Sans', sans-serif;
}
