/* General */

:root {
    --width: 1300px
}

section {
    width: var(--width);
    border: 1px solid #000;
}

/* NAVBAR */

.Navbar {

    padding-top: 12px;
    padding-bottom: 12px;

    width: var(--width);
    margin: auto;

    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0;

    border: 1px solid #000;
}

.Navbar-logo {
    margin:0px;
    margin-left: 12px;
}

.Navbar-signin, .Navbar-signedin {
    margin: 0px;
    margin-right: 12px;
    text-decoration: none;
    color: rgb(11, 11, 11);
}


@media screen and (max-width: 1100px) {
    .Navbar {
        min-width: 420px;
        width: 100vw;
    }
}

/* HOME */

.bg-circle {
    margin: 0;
    padding: 0;
    position: absolute;
}
